html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-haas-display);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
  padding: 0;
}
