@use '../util/' as *;

.header {
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  &__title {
    font-size: 5rem;
    font-family: "Blocus";

    @include breakpoint-down(small) {
      font-size: 3rem;
    }
  }

  &__link {
    font-size: 2rem;
  }
}
