@use '../util/' as *;

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.35rem;
  line-height: 1.2;
  color: var(--white);

  @include breakpoint-down(small) {
    font-size: 1.15rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 55vw;
  margin: 0 auto;

  &__contact {
    text-align: center;
  }

  &__info {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}

video {
  display: block;
  margin: auto;
}

#myVideo {
  position: fixed;
  width: 100%;
}

.spotlight {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle, transparent 150px, rgba(0, 0, 0, 0.9) 200px);

  @include breakpoint-down(medium) {
    display: none;
  }
}
