@use '../util/' as *;

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: block;
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1);
  color: var(--white);
  overflow: auto;
  z-index: -1;

  @include breakpoint-down(small) {
    font-size: 0.75rem;
    letter-spacing: 0;
  }
}

.overlay--visible {
  opacity: 1;
  z-index: 5;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgb(0, 0, 0, 0.4);
  overflow-x: hidden;
}

.overlay-close {
  margin: 2rem;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  text-align: center;
}

.trailers {
  max-width: 1000px;
  margin: 0 auto;

  @include breakpoint-down(medium) {
    margin: 1rem;
  }
}

.vid-embed {
  margin-bottom: 3rem;

  p {
    margin-top: 2rem;
  }
}